  if(defined('$type')
    and ($$${type_delimited}_enabled
      or $$global_enable)) {

        $$${type_delimited}_config =
          hiera_hash($$${type_delimited}_label, {})

        create_resources('$type',
          $$${type_delimited}_config)
  }
