# == Class: hieratic
#
# Hieratic allows Puppet Resources to be created directly in Hiera.
#
# === Parameters
#
# [*global_enable*]
#   Defaults to true. With this on all resources are exposed through Hiera.
#   For granular control set this to false and manually enable specific resource
#   types.
#
# [*TYPE_enable*]
#   Defaults to true. With this on all resources are exposed through Hiera.
#
# [*TYPE_label*]
#   Defaults to the name of the type. This defines the top level hiera variable
#   name to use when defining values of this type.
#
#
# === Examples
#
#  include hieratic
#
#  class { 'hieratic':
#    global_enable => false,
#    class_enable => true,
#    class_label => 'classes',
#    file_enable => true,
#  }
#
# === Authors
#
# Robert Hafner <tedivm@tedivm.com>
#
# === Copyright
#
# Copyright 2015 Robert Hafner
#
